<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <!-- We were originally gonna do an admin icon to link to another page but decided on the option of inputting a localhost address in the url to navigate to the admin page -->
      <!-- <li class="navbar-right">
        <a href="/"><span class="glyphicon glyphicon-user"></span> Admin </a>
      </li> -->
    </ul>
  </div>
</nav>