/* Header */
.navbar {
  margin-top: -2px; 
}

/* Text */

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Homepage */

#backgroundImage {
  background-image: url(images/inspiration.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

#combinedBoxes {
  position: absolute;
  left: 0;
  top: 18%;
  width: 100%;
}

#welcomeBox {
  margin: 5px;
}

#paragraphBox {
  text-align: center;
  height: 4%;
  font-size: 18px;
  padding: 10px;
}

#inputBox {
  padding: 12px;
  font-size: 16px;
}

#lineOne {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  margin: 34px;
  color: black;
  line-height: 0;
}

/* Input Fields */

#firstName, #lastName, #phoneNumber{
  width: 22%;
  padding: 4px;
  border-style: solid;
  border-radius: 2px;
}

#phoneNumber {
  width: 19%;
}

/* Button */

#submitButton {
  margin: 1%;
  padding: 8px 28px;
  background-color: #C4C4C4;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px;
}
