/* Header */
.navbar {
  margin-top: -2px; 
}

/* Text */

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Homepage */

#backgroundImage {
  background-image: url(images/inspiration.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

#combinedBoxes {
  position: absolute;
  left: 25%;
  top: 20%;
  width: 50%;
}

/* #welcomeBox {
  margin: 5px;
} */

#paragraphBox {
  text-align: center;
  height: 4%;
  font-size: 18px;
  padding: 10px;
}

#inputBox {
  padding: 12px;
  font-size: 16px;
}

#lineOne {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 60px;
  margin: 60px;
  color: black;
  line-height: 0;
}

/* Input Fields */

#firstName, #lastName, #phoneNumber{
  font-size: 15px;
  /* width: 34%; */
  /* width: 176px; */
  width: 192px;
  padding: 4px;
  border-style: solid;
  border-radius: 2px;
}

#phoneNumber {
  /* width: 28.5%; */
  /* width: 144px; */
  width: 160px;
}

/* Button */

#submitButton {
  margin: 20px;
  padding: 7px 28px;
  background-color: #C4C4C4;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px;
}
