.jumbotron {
  background:white;
  color: black;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background:grey;
    border-color: white; }
    .jumbotron .btn-primary:hover {
      background: teal; }
  .jumbotron p {
    color: black;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -10px; }
    .jumbotron {
      max-width: 100%; }

