<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>admin</div>
</body>
</html>

// need blank html; div tag; one element to just print that database on to; access catch statement or if username = whatever we want our admin pass phase to be; then direct them to this; else if push them to the rest of our fx; that way its not actually a log in; its if i do this then i can access my webpage 

// basic alert note in code help thanks for signing up for covid-19 blah blah; here is some helpful tips blah blah
//just make one more button and make it say admin button uptop click it make it load the admin page