<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %> <button id="myBtn">Admin</button>

<div id="backgroundImage">
  <div id="combinedBoxes">
    <div id="welcomeBox">
      <h1 id="lineOne">COVID-19</h1>
    </div>
    <div id="paragraphBox">
      <p id="lineTwo">We know how important it is to stay connected. If you would like to receive tips on how to reduce COVID-19 Anxiety, please input your contact information below.</p>
    </div>  
    <div id="inputBox">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName">
      <br>
      <br>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName">
      <br>
      <br>
      <label for="phoneNumber">Phone Number:</label>
      <input type="text" id="phoneNumber" placeholder="Ex: 123-456-8790">
      <br>
      <br>
    </div>
    <div>
      <button id="submitButton" type="button">Submit</button>
    </div>
  </div>
</div>

</body>
</html>