<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div id="updateImage"">
  <div id="container">
    <h1 id="lineOne">WELCOME</h1>
    <p id="lineTwo">We know how important it is to stay connected. If you would like to receive tips on how to reduce COVID-19 Anxiety, as well as a guide to health safety, please input your contact information below.</p>
    <div id="inputBox">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName">
      <br>
      <br>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName">
      <br>
      <br>
      <label for="phoneNumber">Phone Number:</label>
      <input type="text" id="phoneNumber">
      <br>
      <br>
    </div>
  </div>
  <div>
    <button class="btn btn-lg btn-primary" type="button" onclick="document.location ='db.ejs'">Notify me!</button>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started on Heroku with Node.js</a></li>
        <li><a href="https://devcenter.heroku.com/articles/deploying-nodejs">Deploying Node Apps on Heroku</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    We're cheering you on!
  </div>
</div>

</body>
</html>
